<ion-header>
  <ion-toolbar>
    <ion-title>change-password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
  <ion-item>
    <ion-label position="stacked">Old Password</ion-label>
    <ion-input type="password" name="oldPassword" [(ngModel)]="oldPassword" required #olp="ngModel"></ion-input>
    <ion-note color="danger" *ngIf="nwp.invalid &&nwp.touched">Invalid input</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">New Password</ion-label>
    <ion-input type="password" name="newPassword" [(ngModel)]="newPassword" required minlength="6" #nwp="ngModel"></ion-input>

    <ion-note color="danger" *ngIf="nwp.invalid &&nwp.touched">Invalid input</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirm New Password</ion-label>
    <ion-input type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" required minlength="6" #cnp="ngModel"></ion-input>
    <ion-note color="danger" *ngIf="cnp.touched && nwp.touched && cnp!==nwp">It does not match the new password</ion-note>
  </ion-item>
  <ion-button type="submit" [disabled]="changePasswordForm.invalid || newPassword != confirmNewPassword" expand="block" fill="clear">Change
    Password</ion-button>
</form>
</ion-content>
