<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Welcome new fashionist to </h1>
  <ion-img class="logo" src="assets/icon/logo-no-background.svg" alt="logo store" />
  <p>Please fill the form below to sign up</p>

{{user|json}}
  <form (ngSubmit)="register(rgfrm)" #rgfrm="ngForm">

    <ion-item class="ion-padding">
      <ion-label position="floating">Firstname</ion-label>
      <ion-icon name="person-outline" slot="start" />
      <ion-input type="text" name="firstname" [(ngModel)]="user.firstname" #fname="ngModel" required />
      <ion-note color="danger" *ngIf="fname.touched && fname.invalid">Invalid firstname input !</ion-note>
    </ion-item>
    <ion-item class="ion-padding">
      <ion-label position="floating">Lastname</ion-label>
      <ion-icon name="person-outline" slot="start" />
      <ion-input type="text" name="lastname" [(ngModel)]="user.lastname" #lname="ngModel" required />
      <ion-note color="danger" *ngIf="lname.touched && lname.invalid">Invalid lastname input !</ion-note>
    </ion-item>
    <ion-item class="ion-padding">
      <ion-label position="floating">E-mail</ion-label>
      <ion-icon name="mail-outline" slot="start" />
      <ion-input type="email" name="email" [(ngModel)]="user.email" #fmail="ngModel" required />
      <ion-note color="danger" *ngIf="fmail.touched && fmail.invalid">Invalid e-mail input !</ion-note>
    </ion-item>

    <ion-item class="ion-padding" fill="clear">
      <ion-label position="floating">Password</ion-label>
      <ion-icon name="shield-outline" slot="start" />
      <ion-input type="password" name="password" [(ngModel)]="password" #pass="ngModel" required minlength="5" />
      <ion-note color="danger" *ngIf="pass.touched && pass.invalid ">Invalid password input</ion-note>
    </ion-item>

    <ion-item class="ion-padding" fill="clear">
      <ion-label position="floating">Confirm password</ion-label>
      <ion-icon name="shield-outline" slot="start" />
      <ion-input type="password" name="password" #repass="ngModel" [(ngModel)]="repassword" required minlength="5" />
      <ion-note color="danger" *ngIf="repass.touched && repass.invalid">Invalid Confirmation password input</ion-note>
    </ion-item>

    <ion-item class="ion-padding">
      <ion-label position="floating" class="ion-padding">Date of Birth(MM/DD/YYYY)</ion-label>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" #dob="ngModel"
        pattern="^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/(19|20)\d{2}$"  required
        (ngModelChange)="dob.valid && calculateAge()"/>
      <ion-note>you are {{user.age}} years old</ion-note>
      <ion-note color="danger" *ngIf="dob.touched && dob.invalid">invalid date format mm/dd/yyyy</ion-note>
    </ion-item>


    <ion-item class="ion-padding">
      <ion-label>Gender</ion-label>
      <ion-icon slot="start" name="transgender-outline" />
      <ion-select [(ngModel)]="user.gender" name="gender" required>
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button type="submit" expand="block" fill="clear" [disabled]="rgfrm.invalid">Sign up</ion-button>
  </form>
</ion-content>
