<ion-header>
   <ion-toolbar>
     <ion-title>Cart</ion-title>
     <ion-buttons slot="start">
       <div class="avatar-container">
         <ion-avatar>
           <img src="assets/icon/fitfabrics-website-favicon-color.png" alt="app-logo" title="FitFabrics" />
         </ion-avatar>
       </div>
     </ion-buttons>
     <ion-buttons slot="end">
       <ion-avatar *ngIf="profile">
         <img src="{{profile.photoUrl}}" alt="user-profile" title="{{profile.name}}" />
       </ion-avatar>
     </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<ion-content>
  <!-- <ion-list> -->
    <ion-item class="ion-padding" *ngFor="let item of cartItems">
      <ion-thumbnail slot="start" [routerLink]="['/product-details', item.product.id]">
        <img [src]="item.product.image" alt="no product">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.product.title }}</h2>
         <p class="ion-text-right">Category: {{ item.product.category }}</p>
         <p>stock: {{ item.product.stock }}</p>
        <p class="ion-text-right">Price :{{ item.product.price | currency }} </p>
        <p *ngIf="item.size!='no size'">Size: {{ item.size }}</p>
        <p class="ion-text-right" *ngIf="item.color!='no color'">Color: {{ item.color }}</p>
        
    <div class="quantity-buttons">
    <ion-item>
      <p class="ion-text-left">Quantity:</p>
      <ion-button (click)="decreaseQuantity(item)">-</ion-button>
      <ion-label>{{ item.product.quantity }}</ion-label>
      <ion-button (click)="increaseQuantity(item)">+</ion-button>
    </ion-item>
      <!-- <ion-icon name="remove" (click)="decreaseQuantity(item)"></ion-icon>
      <ion-input type="number" [(ngModel)]="item.quantity"></ion-input>
      <ion-icon name="add" (click)="increaseQuantity(item)"></ion-icon> -->
    </div>

       

        <ion-label class="ion-text-right">{{ item.product.price * item.product.quantity |currency}}</ion-label>
        <ion-button fill="clear" (click)="removeFromCart(item)">
          Remove from cart
          <ion-icon name="bag-remove"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  <!-- </ion-list> -->

  <ion-card>
    <ion-card-header class="Bill">
      Bill
    </ion-card-header>
    <ion-card-content>
      <p>Total Price: {{ totalPrice | currency }}</p>
      <ion-button expand="block" (click)="checkout()">Checkout
        <ion-icon name="bag-check" slot="end"/>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

</ion-content>
