ion-toolbar {
  ion-title{
    text-align: center;
  }

  .avatar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px; 
    flex: 1;
  }

  ion-avatar {
    width: 60px; 
    height: 40%; 
  }


}

ion-content{
    --background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
    url("../../../assets/images/insidecartblurry.png") no-repeat center center / cover;
}

.Bill{
 text-align: center;
  color: white;
}

ion-card-content{
  p{
    color :white
  }
}